<!DOCTYPE html>
<html lang="en">
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="/static/css/style1.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/static/js/new.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CDC REGISTRATION</title>
</head>
<body>
    {% if messages %}
	{% for message in messages %}

	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  <strong>Congratulations!!</strong> YOUR FORM IS SUBMIITED.
	  <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
	</div>
	
	  <!-- <h2 style="color:brown;">{{message}}</h2> -->
	{% endfor %}
	{% endif %}
			  
    
    <form action='cdcregister' method='POST'>
        {% csrf_token %}
        <label>
          <p class="label-txt">ENTER YOUR EMAIL</p>
          <input type="text" class="input" name='email' id='email'>
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>
        <label>
          <p class="label-txt">ENTER YOUR NAME</p>
          <input type="text" class="input" name='name' id='name'>
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>
        <label>
          <p class="label-txt">ENTER YOUR PASSWORD</p>
          <input type="text" class="input" name='password' id='password'>
          <div class="line-box">
            <div class="line"></div>
          </div>
        </label>
        <button type="submit">submit</button>
      </form>
</body>
</html>